LoadPlugin curl_json
<Plugin curl_json>
  <URL "http://localhost:5986/_stats">
    Host "couchdb"
    Instance "httpd"
    <Key "couch_log/level/*/value">
      Type "count"
    </Key>

    <Key "couchdb/httpd/requests/value">
      Type "http_requests"
    </Key>

    <Key "couchdb/httpd_request_methods/*/value">
      Type "http_request_methods"
    </Key>

    <Key "couchdb/httpd_status_codes/*/value">
      Type "http_response_codes"
    </Key>
  </URL>
</Plugin>
