global
  log /dev/log    local0
  log /dev/log    local1 notice
  maxconn 512
  ssl-server-verify none

defaults
  mode http
  log global
  monitor-uri /_haproxy_health_check
  option log-health-checks
  option httplog
  balance roundrobin
  option forwardfor
  option redispatch
  retries 4
  option http-server-close
  timeout client 150000
  timeout server 3600000
  timeout connect 500

  stats enable
  stats uri /_haproxy_stats
  # stats auth admin:admin # Uncomment for basic auth
  default-server init-addr last,libc,none

resolvers dns
  nameserver google-1  8.8.8.8:53
  nameserver google-2  8.8.4.4:53
  hold valid 1s

frontend public-in
  bind :80
  bind :443 ssl crt /etc/haproxy/certs/{{ domain }}.pem
  reqadd X-Forwarded-Proto:\ https

  acl graphite-acl path_beg {{graphite_url_prefix}}
  use_backend graphite-backend if graphite-acl

  # Letsencrypt auto-renew: always point to magare1
  acl letsencrypt-acl path_beg /.well-known/acme-challenge/
  use_backend letsencrypt-backend if letsencrypt-acl
  #/ Letsencrypt auto-renew

  redirect scheme https code 301 if !{ ssl_fc }

  # Point to self: magare#.otselo.eu points to local host of the corresponding magare
  acl self-acl hdr_beg(host) {{magare_name}}.
  use_backend local-backend if self-acl
  #/ Point to self

  default_backend couchdbs

backend couchdbs
  option httpchk GET /_up
  http-check disable-on-404

{% for magare in groups['magareta'] %}
  server {{hostvars[magare].magare_name}} {{hostvars[magare].inventory_hostname}}:{{hostvars[magare].couchdb_port}} resolvers dns ssl check-ssl check inter 5s
{% endfor %}

backend letsencrypt-backend
  server letsencrypt magare1.otselo.eu:54321 resolvers dns

backend local-backend
  server {{magare_name}} {{ansible_host}}:{{couchdb_port}} ssl check-ssl check inter 5s

backend graphite-backend
  server graphite 127.0.0.1:8080
